{% extends 'layouts/base.html' %}

{% block title %} Edit items {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  a:not([href]):not([class]):hover {
    color: #830866;
  }
  a:not([href]):not([class]){
    color: black;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
      
  <div class="row my-4">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Edit</h6>
              <p class="text-sm">Existing stock alert info</p>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">

            <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Exchange</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Condition</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Last Updated</th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>

          <tbody>

            {% for val in data %}
              <tr id="{{ val.id }}">
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-xs">{{ val.al_exchange_name }} - {{ val.al_type }}</h6>
                      <!-- <p class="text-xs text-secondary mb-0">john@creative-tim.com</p> -->
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">{{ val.al_name }}</p>
                  <p class="text-xs text-secondary mb-0">{{ val.al_code }}</p>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{ val.al_condition }}</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{ val.al_last_updated }}</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">
                    <!-- <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Launch demo modal
                    </button> -->
                    <a role="button" data-id='{{ val.id }}' onclick='delete_alert(this)'><i class="far fa-trash-alt fa-lg"></i></a>
                  </span>
                </td>
              </tr>
            {% endfor %}
    
          </tbody>

        </table>

          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

    



{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

  </script>

  <script>
    function delete_alert(data) {
      if (confirm("Are you sure you want to Delete this record?") == true) {
        var id = data.dataset.id
        var postData1 = "id="+id;
        var request = new XMLHttpRequest();
        request.open("POST", '{% url "alert-delete" %}');
        request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        request.onreadystatechange = function() {
            if(this.readyState === 4 && this.status === 200) {
                var obj2 = JSON.parse(this.responseText)
                var row = document.getElementById(id);
                var parent = row.parentElement;
                parent.removeChild(row);
                console.log(obj2)
            }
        };
        request.send(postData1);
      }
    }
  </script>

{% endblock javascripts %}
